@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,300;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
body{
    width: 100%;
    height: 100%;

    background-image: url(../imagens/fundo-blur01.jpg);
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.imagemcima{
    background-image: url(../imagens/fundo01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 25%;
    border-top-right-radius: 5px;
    border: 1px solid rgb(116, 7, 167);
}

.imagemlado{
    background-image: url(../imagens/fundo01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid rgb(116, 7, 167);

    width: 30%;
    height: 100%;
    float: left;
}

main{
    background-color: rgb(255, 255, 255);
    border-radius:  0% 3% 3% 0% ;
    border: 1px solid rgb(116, 7, 167);

    height:80%;
    width: 70%;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

main h1{
    text-align: center;
    padding: 5px;
    font-weight: 500;
    font-style: italic;
}

main h3{
    text-align: center;
    font-weight: 300;
    font-style: italic;
}

main #logar{
    text-decoration: overline;
    font-style: italic;
    color: rgb(66, 66, 66);
}

main #logar:hover{
    color: rebeccapurple;
    text-decoration: underline;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputStyle{
    width: 80%;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid rebeccapurple;

    border-left: none;
    border-right: none;
    border-top: none;
}

input::placeholder{
    color: rebeccapurple;
}

form > input{
    width: 80%;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    border: 1px dashed rebeccapurple;
    font-weight: 300;
    font-style: italic;
}

form > input:hover{
    background-color: rgb(197, 197, 197);
    color: rebeccapurple;
}