*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    width: 100%;
    height: 100%;

    background-image: url(../imagens/fundo-blur.jpg);
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.imagemlado{
    background-image: url(../imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


    width: 40%;
    height: 100%;
    float: left;
}

main{
    background-color: rgb(255, 255, 255);
    border-radius:  0% 5% 5% 0% ;


    height: 65%;
    width: 70%;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

main h1{
    text-align: center;
    padding: 5px;
}

main h3{
    text-align: center;
}

main #logar{
    text-decoration: overline;
    font-style: italic;
    color: rgb(66, 66, 66);
}

main #logar:hover{
    color: rgb(150, 47, 0);
    text-decoration: underline;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form > input{
    width: 80%;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    border: outset;
}

form > input:hover{
    background-color: rgb(197, 197, 197);
}